
html{ font-family: 'Permanent Marker', cursive;    background-image:url("Images/chalk.jpg"); width:100%; height:100%; }

*{ padding:3px; border-radius:5px; }


body { margin:10% 33%; color:white;}

p{ font-size: 1.5em; }

button{ font-family:'Permanent Marker', cursive; width:65px;  }
.hidden {
	display: none;
}

.top {
	display: inline-block;
}

.js-answer-count {
	margin-left: 30px;
}

.restart{ margin-top:30px; }

input{ margin-bottom:20px; }

#js-correct-answers {

	color:green;
}

#js-total-answers {

	color:red;
}